@font-face {
    font-family: 'healTheWebA';
    src: url("fonts/HealTheWebA-Regular.otf");
}

@font-face {
    font-family: 'healTheWebB';
    src: url("fonts/montserrat_extrabold.ttf");
}

body {
    /*crée sur csshero.org/mesher/*/
    background-color: hsla(0, 0%, 100%, 1);
    background-image:
        radial-gradient(at 95% 79%, hsla(283, 93%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(32, 0%, 100%, 1) 0px, transparent 50%);
}

h1,
h2,
h3,
p,
a {
    font-family: 'healTheWebA', sans-serif;
}

h1 {
    text-shadow: 2px 2px 4px #b3b3b3;
}

h2 {
    margin-bottom: 8px;
}

header {
    padding-top: 10px;
}

.titre-principale,
.description {
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
    margin: 0;
}
    
.menu {
  position: fixed;
  right: -100%; 
  top: 0px;
  width: 150px;
  height: 100%;
  background: rgba(40, 40, 40, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu.active {
  right: 0; 
}

.menu ul {
    padding: 0px;
    margin-top: 40px;
}

.menu li {
    margin: 20px 0;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    z-index: 2001;
    position: fixed;
    top: 20px;
    right: 20px;
}

.burger span {
    height: 3px;
    background-color: #444cf7;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.choix {
    display: flex;
    background-color: #444cf7;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
}

.choix.active {
    background-color: #383c83;
}

.affiches {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.poster {
    width: 150px;
    height: 235px;
    margin-bottom: -5.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box {
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    gap: 20px;
    width: 100%;
}

.titre-film {
    color: black;
    text-decoration: none;
}

.titre-film:hover {
    text-decoration: underline;
}

.info-film {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.films {
    padding-left: 40px;
    padding-right: 40px;
}

.synopsis {
    margin-right: 10px;
}
/*
.movie-header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.movie-header .poster {
    width: 150px;
    height: 235px;
}*/

.dates-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    padding-bottom: 5px;
}

.date-pill {
    padding-inline: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
    background: white;
}


.date-pill:hover {
    background: #f0f0f0;
}

.date-pill.active {
    background: #444cf7;
    color: white;
    border-color: #444cf7;
}

.showings-container {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.showings-container.active {
    display: flex;
}

.showing-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cinema-name {
    background: #444cf7;
    color: white;
    padding-inline: 10px;
    border-radius: 12px;
}

.showing-time {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.showing-time .version {
    font-weight: bold;
    color: gray;
}

.showing-time .time {
    color: blue;
    font-weight: bold;
}

.showing-time .icon {
    background: #7a7dff;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width: 667px) {
    .titre-principale {
        padding-left: 5%;
    }

    .description {
        padding-left: 3%;
    }

    .films {
        padding-left: 5%;
        padding-right: 5%;
    }

    .titre-film {
        margin-left: 9px;
    }

    main {
        padding: 0 3%;
    }

    .menu a {
        font-size: 16px;
    }

    .box {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .poster {
        width: 100%;
        height: auto;
    }

    img.poster {
        margin-top: 10px;
    }

    .synopsis {
        font-size: 15px;
        margin-left: 2%;
        margin-right: 2%;
        margin: 3%;
    }

    .calendrier-page {
        padding: 10px 5%;
    }

    .movie-header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .movie-header .poster {
        width: 150px;
    }

    h2 {
        margin: 0px;
    }

    .poster {
        width: 250px;
        height: 335px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 250px) {
    img.poster {
        display: none;
    }
}